<h2>Update Grumble</h2>
<form>
  <input type="text" value="vm.grumble.title" data-ng-model="vm.grumble.title" />
  <input type="text" value="vm.grumble.authorName" data-ng-model="vm.grumble.authorName" />
  <input type="text" value="vm.grumble.photoUrl" data-ng-model="vm.grumble.photoUrl" />
  <textarea type="text" value="vm.grumble.content" data-ng-model="vm.grumble.content"></textarea>
  <button type="button" data-ng-click="vm.update()">Update Grumble</button>
  <button type="button" data-ng-click="vm.destroy()">Delete</button>
</form>
