<div class="grumble-form">
  <form>
    <input placeholder="Title" value="vm.grumble.title" data-ng-model="vm.grumble.title" />
    <input placeholder="Author" value="vm.grumble.authorName" data-ng-model="vm.grumble.authorName" />
    <input placeholder="Photo Url" value="vm.grumble.photoUrl" data-ng-model="vm.grumble.photoUrl" />
    <textarea value="vm.grumble.content" data-ng-model="vm.grumble.content"></textarea>
    <a data-ui-sref='grumbleShow({id: vm.grumble.id})' ng-show="formType == 'edit'">Cancel</a>
    <a data-ui-sref='grumbleIndex' ng-show="formType == 'new'">Cancel</a>
    <button data-ng-click="vm.create()" ng-show="formType == 'new'">Create New</button>
    <button data-ng-click="vm.update()" ng-show="formType == 'edit'">Save</button>
    <button data-ng-click="vm.destroy()" ng-show="formType == 'edit'">Delete</button>
  </form>
</div>
