<form>
  <input placeholder="Title" data-ng-model="grumble.title" />
  <input placeholder="Author name" date-ng-model="grumble.authorName" />
  <input placeholder="Photo URL" data-ng-model="grumble.photoUrl" />
  <textarea placeholder="Grumble content" data-ng-model="grumble.content"></textarea>
  <div data-ng-if="grumble.id">
    <button type="button" data-ng-click="grumble.$update({id: grumble.id}, ifSaveSuccessful)">Update</button>
  </div>
  <div data-ng-if="!grumble.id">
    <button type="button" data-ng-click="grumble.$save(ifSaveSuccessful)">Create</button>
  </div>
</form>
